<p id="notice"><%= notice %></p>

<p>
  <b>Contributor:</b>
  <%= @comment.contributor %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Card:</b>
  <%= @comment.card %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
