<%= form_for(@capture) do |f| %>
  <% if @capture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capture.errors.count, "error") %> prohibited this capture from being saved:</h2>

      <ul>
      <% @capture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :startTime %><br />
    <%= f.datetime_select :startTime %>
  </div>
  <div class="field">
    <%= f.label :endTime %><br />
    <%= f.datetime_select :endTime %>
  </div>
  <div class="field">
    <%= f.label :creator %><br />
    <%= f.number_field :creator %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :visibility %><br />
    <%= f.number_field :visibility %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
