<h1>Listing captures</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th>Creator</th>
    <th>Description</th>
    <th>Visibility</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @captures.each do |capture| %>
  <tr>
    <td><%= capture.name %></td>
    <td><%= capture.startTime %></td>
    <td><%= capture.endTime %></td>
    <td><%= capture.creator %></td>
    <td><%= capture.description %></td>
    <td><%= capture.visibility %></td>
    <td><%= link_to 'Show', capture %></td>
    <td><%= link_to 'Edit', edit_capture_path(capture) %></td>
    <td><%= link_to 'Destroy', capture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Capture', new_capture_path %>
